<h1>New restaurant</h1>
<p><%= link_to "Back to list", restaurants_path %></p>
<br>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection:Restaurant::CATEGORIES %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<%# [ @restaurant, @review ] %>
